/* review */
.heading {
  font-size: 50px;
  text-align: center;
  color: black;
}
.review .review-slider {
  box-shadow: var(--box-shadow);
}

.review .review-slider .slide {
  background: var(--white);
  border-radius: 0.5rem;
  text-align: center;
  padding: 3rem;
}

.review .review-slider .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.review .review-slider .slide h3 {
  font-size: 2.5rem;
  color: black;
}

.review .review-slider .slide p {
  font-size: 1.5rem;
  color: black;
  line-height: 1.7;
  padding: 1rem 0;
}

.review .review-slider .slide .stars {
  padding: 1rem 0;
  padding-bottom: 1.5rem;
}

.review .review-slider .slide .stars i {
  font-size: 2rem;
  color: gold;
}

.swiper-pagination-bullet-active {
  background: var(--main-color);
}

.contact-left {
  flex-basis: 35%;
  padding: 20px;
}
.contact-right {
  flex-basis: 60%;
  padding: 20px;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.social-icon {
  margin-top: 30px;
}
.social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: blue;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icon a:hover {
  color: yellowgreen;
  transform: translateY(-5px) scale(1.2);
}
.btn.btn2 {
  display: inline-block;
  background: blueviolet;
  border-radius: 14px;
  color: white;
}
.btn.btn2:hover {
  background-color: #ff004f;
}

.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(232, 210, 238);
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
footer {
  height: 50px;
  color: #7971ea;
}

footer h5 {
  color: rgb(65, 43, 43);
  padding-bottom: 10px;
  font-weight: bold;
}

.col-6.col-md-2.mb-3 a {
  color: #7971ea;
}

.col-6.col-md-2.mb-3 a:hover {
  color: black;
}
.vs {
  color: gray;
  font-weight: bolder;
}

.chat-container {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  margin: auto;
}

.copy-btn {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.8em;
  background-color: #007bff; /* Updated to match user-message background color */
  color: white;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s, transform 0.2s;
  position: absolute; /* Adjust if necessary */
  top: 5px;
  right: 5px;
  user-select: none; /* Prevent the button text from being selectable */
}

.copy-btn:hover,
.copy-btn:active {
  background-color: #0056b3; /* A darker shade for hover state */
  transform: scale(1.05); /* Slightly enlarge the button on hover/active */
}

.copy-btn:focus {
  outline: none; /* Remove the focus outline to keep the design clean */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Optional: add a focus style that matches your design */
}

pre code {
  padding: 12px;
  position: relative;
  color: #dcdcdc; /* Light grey color for better contrast */
  background: #333; /* Darker background for the code block */
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Source Code Pro", monospace; /* Use a monospaced font for better code readability */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-dot {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: blue;
  border-radius: 50%;
  animation: wave 1.2s infinite linear both;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-15px);
  }
}

#output-field {
  background-color: var(--ai-message-bg-color);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: #000000;
}

.input-group {
  flex-wrap: nowrap;
  align-items: stretch;
}

.input-group-text {
  background: transparent;
  border: 1px solid var(--input-border-color);
  border-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-group-text svg {
  fill: var(--user-message-bg-color);
}

#prompt-input {
  flex-grow: 1;
  border: 1px solid var(--input-border-color);
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
}

#image-input {
  display: none;
}

#send-btn {
  background-color: var(--user-message-bg-color);
  color: var(--user-message-text-color);
  border: 1px solid var(--user-message-bg-color);
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#send-btn:hover {
  background-color: var(--button-hover-color);
}

#output-container {
  overflow-y: auto;
  max-height: 65vh;
  margin-bottom: 20px;
}

.chat-message {
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 25px;
  max-width: 75%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-message {
  background-color: var(--user-message-bg-color);
  color: var(--user-message-text-color);
  align-self: flex-end;
  text-align: right;
  border-bottom-right-radius: 5px;
}

.ai-message {
  background-color: var(--ai-message-bg-color);
  color: var(--ai-message-text-color);
  align-self: flex-start;
  border-bottom-left-radius: 5px;
}

.separation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.chatbot-button {
  position: fixed;
  bottom: 4rem; /* Adjust as needed */
  right: 2rem; /* Adjust as needed */
  z-index: 50;
}

.chatbot-button:hover {
  content: "ghhj";
}

.nav-item .log {
  color: white !important;
  width: fit-content;
  font-weight: 700;
  background-color: rgb(219, 127, 219);
  border-radius: 1rem;
}

.log:hover {
  background: purple !important;
}

#Loader {
  background: white url(img/pre-loader.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.nav-link {
  color: black;
  display: inline-block; /* Ensures the link takes only the necessary width */
  position: relative; /* Allows the use of pseudo-elements */
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: none;
  width: fit-content;
}

.nav-link.active {
  color: rgb(219, 127, 219);
  font-weight: 800;
  border-bottom: 2px solid rgb(219, 127, 219);
  font-weight: 800;
}

.dropdown-item:hover {
  background: rgb(236, 188, 236) !important;
}

.hover-move {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.navbar-toggler {
  background-color: #7e22ce; /* Purple background color */
  border-color: #7e22ce; /* Purple border color */
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba(255, 255, 255, 1)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.contact-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.contact-container h1 {
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-container button {
  background-color: #7971ea;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-container button:hover {
  background-color: #5e55e0;
}

.social-media {
  margin-top: 20px;
}

.social-media h2 {
  margin-bottom: 10px;
}

.social-icon {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
  transition: color 0.3s;
}

.social-icon:hover {
  color: #0056b3;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 6px !important; /* Width of the entire scrollbar */
}

/* Style the track (progress bar) */
::-webkit-scrollbar-track {
  background: rgb(252, 185, 252) !important; /* Background color of the track */
}

/* Style the handle (scroll thumb) */
::-webkit-scrollbar-thumb {
  background: rgb(209, 72, 209) !important; /* Background color of the handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 33, 155) !important; /* Background color when hovering */
}

@media (max-width: 600px) {
  .contact-container {
    padding: 15px;
  }
}
